@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Extrabold.ttf);
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  background: #FFFBF7;
}

.header-content {
  padding: 30px 0 35px;
}

.header-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-top-row__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.contact-us {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.telephone {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.working-hours {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  text-align: right;
  color: #2B2A28;
}

.button {
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.button_background {
  background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}

.button_request-a-call {
  font-size: 13px;
  padding: 15px 25px;
}

.for-free {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  text-align: center;
  color: #2B2A28;
  padding-top: 5px;
}

.language-selection {
  position: relative;
  display: flex;
  cursor: pointer;
}

.language-selection > img:first-child,
.language-list__item img {
  width: 21px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.language-list {
  display: none;
}

.language-list.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-list__item {
  list-style-type: none;
}

.dropdown-list-arrow-one {
  padding: 5px 0 0 5px;
}

.dropdown-list-arrow-one img {
  display: block;
}

.dropdown-list-arrow-one img.active {
  transform: rotate(0.5turn);
}

.header-content-bottom-row {
  padding-top: 20px;
}

.navigation {
  width: 70%;
}

.hamburger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
}

.hamburger-menu span {
  position: absolute;
  width: 30px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #CB8734;
  transition: transform 0.5s;
}

.hamburger-menu span:nth-child(1) {
  top: calc(50% - 10px);
}

.hamburger-menu span:nth-child(3) {
  top: calc(50% + 10px);
}

.hamburger-menu.active span:nth-child(2) {
  transform: translate(100%, -50%);
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.active {
  position: fixed;
  left: 10%;
}

.list {
  display: flex;
  align-items: center;
  background: #3D1E19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}

.list__item {
  list-style-type: none;
  flex-grow: 1;
  border-right: 1px dashed rgba(229, 235, 242, 0.4);
  text-align: center;
}

.list__item:last-child {
  border-right: none;
}

.list__link {
  display: flex;
  justify-content: center;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 0;
}

.urls {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 20px;
}

.urls a,
.urls span {
  color: #828282;
}

.url {
  text-decoration: none;
}

.about-company-content {
  padding: 30px 0 145px;
}

.about-company-content-top-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.head-one {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.button_come-back {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #CB8734;
}

.about-company-content-middle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 125px;
}

.about-company-content-middle-row__left-side {
  width: 45%;
}

.paragraph {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  color: #2B2A28;
}

.paragraph_about-company {
  font-size: 16px;
}

.paragraph_about-company:first-child {
  padding-bottom: 20px;
}

.about-company-slider-block {
  position: relative;
  width: 50%;
}

.bathhouse-screenshot img {
  width: 100%;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows_first {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.arrows_second {
  position: absolute;
  right: 0;
  top: -65px;
}

.arrow {
  cursor: pointer;
}

.current-bathhouse-screenshot,
.current-article {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.company-official {
  position: relative;
  padding-top: 10px;
}

.company-official > img {
  display: block;
  width: 100%;
}

.watch-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 57%;
  bottom: 27%;
  width: 135px;
}

.watch-video .paragraph {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4em;
  text-align: center;
  color: #FFFFFF;
}

.citation {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  left: 50%;
  bottom: -95px;
  transform: translateX(-50%);
  width: 45%;
  padding: 40px 50px 35px 45px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.pib {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.citation .paragraph {
  font-size: 16px;
  line-height: 1.6em;
}

.key-performance-indicators {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 180px;
}

.performance-indicator {
  width: 23%;
}

.paragraph-indicator {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2em;
  color: #CB8734;
  padding-bottom: 30px;
}

.paragraph-indicator::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #CB8734;
  border-radius: 1px;
}

.paragraph-indicator span {
  font-size: 60px;
}

.performance-indicator .paragraph {
  font-size: 16px;
  padding-top: 20px;
}

.catalogs {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button_houses-catalog {
  padding: 20px 30px;
}

.button_bathhouses-catalog {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #CB8734;
}

.reasons-why {
  background: #FFFBF7;
  padding: 145px 0;
}

.reasons-why-content-top-row {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
  padding: 50px 45px 40px 60px;
  margin-bottom: 60px;
}

.head-two {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.reasons-why-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.reasons-why-list div {
  width: 20%;
}

.reasons-why-list img {
  margin-bottom: 15px;
}

.paragraph_reason {
  font-weight: 700;
}

.reasons-why-content-bottom-row {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
}

.sending-data-for-consultation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 145px 0;
  padding: 5px 5px 5px 80px;
  background: #FFFBF7;
  border-radius: 0px 40px 0px 0px;
}

.sending-data-for-consultation-content > img {
  border-radius: 0px 36px;
}

.order-a-consultation-content {
  width: calc(100% - 480px);
}

.order-a-consultation-content p:first-child {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  color: #2B2A28;
  white-space: pre-line;
  padding-bottom: 25px;
}

.order-a-consultation-content > div {
  display: flex;
  justify-content: space-between;
}

.order-a-consultation-content > div > div {
  position: relative;
  width: 62.5%;
}

.international-telephone-code-select {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.order-a-consultation-content input {
  width: 100%;
  padding: 20px 0 20px 80px;
  background: #FFFFFF;
  border: 1px solid #E7D8C7;
  border-radius: 4px;
}

.button_order-a-consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  cursor: pointer;
}

.agreement {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  color: #2B2A28;
  padding: 30px 0 20px;
}

.agreement span {
  font-weight: 600;
  color: #CB8734;
}

.manufacturig-screenshots-content {
  padding: 145px 0;
}

.manufacturig-screenshots-content .head-two {
  padding-bottom: 40px;
}

.manufacturig-screenshots-content div {
  display: flex;
  justify-content: space-between;
}

.manufacturig-screenshots-content img {
  display: block;
  width: 31.5%;
}

.last-articles-content {
  padding-bottom: 145px;
}

.last-articles-content .head-two {
  padding-bottom: 40px;
}

.last-articles-slider-block {
  position: relative;
}

.article .article-content {
  position: relative;
  width: 370px;
  margin: auto;
}

.head-three {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  color: #2B2A28;
  padding: 25px 0 15px;
}

.topic {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #CB8734;
  border-radius: 4px;
  padding: 10px 20px;
}

.topic span {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.arrows_second .current-article {
  color: #CB8734;
}

.footer {
  background: #FFFBF7;
}

.footer-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 40px;
}

.footer-content-bottom-row {
  display: flex;
  justify-content: space-between;
}

.footer-content-bottom-row__left-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.footer-content-bottom-row__left-side .column-list {
  list-style-type: none;
}

.footer-content-bottom-row__left-side .column-list__link {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 2em;
  text-decoration: none;
  color: #2B2A28;
}

.footer-content-bottom-row__right-side {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.footer-content-bottom-row__right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-bottom-row__right-side-content .contact-us {
  font-size: 14px;
  padding-bottom: 10px;
}

.copyright {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7em;
  text-align: center;
  color: #2B2A28;
  opacity: 0.7;
  padding: 30px 0;
}

@media screen and (min-width: 1401px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  .citation {
    width: 50%;
  }

  .last-articles-content .head-two {
    text-align: center;
  }

  .arrows_second {
    right: 10%;
  }
}

@media screen and (max-width: 1400px) {
  .header-content-bottom-row .navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 2;
    transition: transform 0.5s;
  }

  .header-content-bottom-row .navigation.active {
    transform: translateX(0);
  }
  
  .header-content-bottom-row .navigation .list {
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  
  .header-content-bottom-row .navigation .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .header-content-bottom-row .navigation .list__item:last-child {
    border-bottom: none;
  }
  
  .header-content-bottom-row .navigation .list__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .header-content-top-row__right-side {
    width: 55%;
  }

  .about-company-content-middle-row {
    flex-direction: column;
    gap: 30px;
  }

  .about-company-content-middle-row__left-side {
    width: 100%;
  }
  
  .about-company-slider-block {
    width: 50%;
  }

  .citation {
    width: 55%;
  }

  .reasons-why-list div {
    width: 22.5%;
  }

  .footer-content-top-row {
    padding: 0 0 40px;
  }

  .footer-content-bottom-row__left-side {
    width: 55%;
  }
}

@media screen and (max-width: 1250px) {
  .header-content-top-row > a {
    display: none;
  }

  .header-content-top-row__right-side {
    justify-content: flex-end;
    gap: 25px;
    width: 85%;
  }

  .citation {
    width: 60%;
    padding: 35px 45px 30px 40px;
  }

  .footer-content-bottom-row__left-side {
    width: 60%;
  }
}

@media screen and (max-width: 1150px) {
  .citation {
    width: 65%;
    padding: 30px 40px 25px 35px;
  }

  .sending-data-for-consultation-content {
    padding: 5px;
  }

  .footer-content-top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-content-bottom-row {
    flex-direction: column;
    gap: 40px;
  }

  .footer-content-top-row .navigation {
    width: 80%;
  }

  .footer-content-bottom-row__left-side {
    width: 80%;
  }

  .footer-content-bottom-row__right-side {
    justify-content: flex-start;
  }

  .footer-content-bottom-row__right-side-content {
    gap: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .about-company-slider-block {
    width: 75%;
  }

  .citation {
    width: 70%;
    padding: 25px 35px 20px 30px;
  }

  .key-performance-indicators {
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding-top: 140px;
  }

  .performance-indicator {
    width: 30%;
  }

  .reasons-why-content-top-row {
    padding: 50px 45px 0 60px;
  }

  .reasons-why-list {
    flex-wrap: wrap;
  }

  .reasons-why-list div {
    width: 47.5%;
    padding-bottom: 40px;
  }

  .sending-data-for-consultation-content {
    flex-direction: column;
    border-radius: 0;
  }

  .sending-data-for-consultation-content img {
    order: 1;
  }

  .order-a-consultation-content {
    order: 2;
    width: 100%;
  }

  .order-a-consultation-content p:first-child {
    white-space: normal;
    text-align: center;
    padding: 25px 0;
  }

  .agreement {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .citation {
    width: 75%;
    padding: 20px 30px 15px 25px;
  }

  .arrows_second {
    right: 50%;
    transform: translateX(50%);
    top: -35px;
  }

  .footer-content-top-row .navigation {
    width: 100%;
  }

  .footer-content-bottom-row__left-side {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header-content-top-row__right-side div:nth-child(1) {
    display: none;  
  }

  .about-company-content-top-row {
    flex-direction: column;
    gap: 10px;
  }

  .about-company-slider-block {
    width: 100%;
  }

  .citation {
    width: 80%;
    padding: 15px 25px 10px 20px;
  }

  .performance-indicator {
    width: 35%;
  }

  .manufacturig-screenshots-content .head-two {
    text-align: center;
  }
  
  .manufacturig-screenshots-content div {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .manufacturig-screenshots-content img {
    width: 55%;
  }
}

@media screen and (max-width: 760px) {
  .citation {
    width: 85%;
    padding: 10px 20px 5px 15px;
  }
}

@media screen and (max-width: 700px) {
  .citation {
    width: 90%;
    padding: 5px 15px 5px 10px;
  }

  .performance-indicator {
    width: 40%;
  }

  .footer-content-bottom-row__left-side {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  .arrows_first {
    bottom: 25px;
  }

  .watch-video {
    left: 100%;
    bottom: 0;
    padding: 0 10px 10px 0;
    transform: translateX(-100%);
  }

  .citation {
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
  }

  .key-performance-indicators {
    padding-top: 180px;
  }
}

@media screen and (max-width: 610px) {
  .header-content-top-row__right-side div:nth-child(2) {
    display: none;  
  }

  .key-performance-indicators {
    flex-direction: column;
    align-items: center;
  }

  .performance-indicator {
    width: 50%;
  }
  
  .catalogs .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .sending-data-for-consultation-content {
    border-radius: 0px 40px 0px 0px;
  }

  .sending-data-for-consultation-content img {
    width: 100%;
  }

  .manufacturig-screenshots-content img {
    width: 75%;
  }

  .footer-content-top-row .navigation .list {
    flex-direction: column;
  }

  .footer-content-top-row .navigation .list__item {
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed rgba(229, 235, 242, 0.4);
  }

  .footer-content-top-row .navigation .list__item:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 520px) {
  .watch-video {
    display: none;
  }

  .key-performance-indicators {
    padding-top: 220px;
  }

  .performance-indicator {
    width: 60%;
  }

  .reasons-why-list {
    flex-direction: column;
  }

  .reasons-why-list div {
    width: 100%;
  }

  .article .article-content {
    width: 100%;
  }

  .article .article-content img {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .performance-indicator {
    width: 70%;
  }

  .order-a-consultation-content > div {
    flex-direction: column;
    gap: 20px;
  }

  .order-a-consultation-content > div > div {
    width: 100%;
  }

  .button_order-a-consultation {
    width: 100%;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 410px) {
  .key-performance-indicators {
    padding-top: 280px;
  }

  .manufacturig-screenshots-content img {
    width: 100%;
  }
}