@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Extrabold.ttf);
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  background: #FFFBF7;
}

.header-content {
  padding: 30px 0 35px;
}

.header-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-top-row__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.contact-us {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.telephone {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.working-hours {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  text-align: right;
  color: #2B2A28;
}

.button {
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.button.button_acquaint-with-projects {
  font-weight: 600;
  font-size: 15px;
  padding: 0;
}

.button_background {
  background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}

.button_request-a-call {
  font-size: 13px;
  padding: 15px 25px;
}

.for-free {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  text-align: center;
  color: #2B2A28;
  padding-top: 5px;
}

.language-selection {
  position: relative;
  display: flex;
  cursor: pointer;
}

.language-selection > img:first-child,
.language-list__item img {
  display: block;
  width: 21px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-bottom: 4px;
}

.language-list {
  display: none;
}

.language-list.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-list__item {
  list-style-type: none;
}

.dropdown-list-arrow-one {
  padding: 5px 0 0 5px;
}

.dropdown-list-arrow-one img {
  display: block;
}

.dropdown-list-arrow-one img.active {
  transform: rotate(0.5turn);
}

.header-content-bottom-row {
  padding-top: 20px;
}

.navigation {
  width: 70%;
}

.hamburger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
}

.hamburger-menu span {
  position: absolute;
  width: 30px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #CB8734;
  transition: transform 0.5s;
}

.hamburger-menu span:nth-child(1) {
  top: calc(50% - 10px);
}

.hamburger-menu span:nth-child(3) {
  top: calc(50% + 10px);
}

.hamburger-menu.active span:nth-child(2) {
  transform: translate(100%, -50%);
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.active {
  position: fixed;
  left: 10%;
}

.list {
  display: flex;
  align-items: center;
  background: #3D1E19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}

.list__item {
  list-style-type: none;
  flex-grow: 1;
  border-right: 1px dashed rgba(229, 235, 242, 0.4);
  text-align: center;
}

.list__item:last-child {
  border-right: none;
}

.list__link {
  display: flex;
  justify-content: center;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 0;
}

.what-we-do {
  background: #FFFBF7;
}

.what-we-do-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}

.what-we-do-content__left-side {
  width: 45%;
}

.what-we-do-slider-block {
  position: relative;
  width: 50%;
}

.head-one {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.3em;
  color: #2B2A28;
}

.paragraph {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  color: #2B2A28;
}

.paragraph_what-we-do {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  padding: 15px 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button_houses-catalog {
  padding: 20px 30px;
}

.button_bathhouses-catalog,
.button_acquaint-with-projects {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #CB8734;
}

.bathhouse-screenshot img {
  width: 100%;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows_first {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.arrows_second {
  position: absolute;
  right: 50%;
  bottom: 35px;
  transform: translateX(50%);
}

.arrows_third {
  position: absolute;
  right: 0;
  top: -65px;
}

.arrows_four {
  position: absolute;
  right: 50%;
  bottom: 35px;
  transform: translateX(50%);
}

.arrow {
  cursor: pointer;
}

.current-bathhouse-screenshot,
.current-manufacturing-screenshot,
.current-article,
.current-house-screenshot {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.reasons-why-content {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
  padding: 50px 45px 40px 60px;
}

.head-two {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.reasons-why {
  background: linear-gradient(to top, transparent 50%, #FFFBF7 50%);
}

.reasons-why-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.reasons-why-list div {
  width: 20%;
}

.reasons-why-list img {
  margin-bottom: 15px;
}

.paragraph_reason {
  font-weight: 700;
}

.projects-catalog-content {
  padding: 145px 0 115px;
}

.projects-catalog-content__left-side {
  background: url(../assets/images/projects-catalog-background.png) right no-repeat;
  background-size: content;
}

.projects-group_row-one {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 60%;
  padding: 20px 0 30px;
}

.domestic-project,
.commercial-project {
  width: 48%;
  padding: 5px 5px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
}

.domestic-project > img,
.commercial-project > img {
  display: block;
  width: 100%;
}

.domestic-project div,
.commercial-project div {
  padding: 35px 15px 50px 45px;
}

.domestic-project .paragraph,
.commercial-project .paragraph {
  padding: 10px 0 15px;
}

.head-three {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  color: #2B2A28;
}

.projects-group_row-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 60%;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
  padding: 5px 5px 5px 0;
}

.garden-project {
  width: 42.5%;
  padding-left: 50px;
}

.garden-project .paragraph {
  padding: 10px 0 15px;
}

.projects-group_row-two > img {
  width: 52.5%;
}

.how-we-build {
  background: #FFFBF7;
}

.how-we-build-content {
  padding: 115px 0 145px;
}

.construction-stages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}

.construction-stage {
  position: relative;
  width: 48.5%;
  margin-bottom: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.stage-content {
  height: 100%;
}

.stage-description {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 40px 40px 50px 45px;
}

.stage-description .head-three {
  white-space: pre-line;
}

.stage-description .paragraph {
  padding-top: 15px;
}

.stage-content img {
  position: absolute;
}

.construction-stage:nth-child(1) .stage-content img {
  right: 25px;
  top: -45px;
}

.construction-stage:nth-child(2) .stage-content img {
  right: 15px;
  top: -80px;
}

.construction-stage:nth-child(3) .stage-content img {
  right: 15px;
  top: -25px;
}

.construction-stage:nth-child(4) .stage-content img {
  right: 40px;
  top: -45px;
}

.stage-description::after {
  position: absolute;
  right: 20px;
  bottom: -30px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 140px;
  line-height: 1em;
  color: #CB8734;
  opacity: 0.1;
}

.construction-stage:nth-child(1) .stage-description::after {
  content: "01";
}

.construction-stage:nth-child(2) .stage-description::after {
  content: "02";
}

.construction-stage:nth-child(3) .stage-description::after {
  content: "03";
}

.construction-stage:nth-child(4) .stage-description::after {
  content: "04";
}

.how-we-build-slider-block {
  position: relative;
}

.how-we-build-content-bottom-row .buttons {
  padding-top: 40px;
}

.about-company {
  background: url(../assets/images/about-company-background.png) no-repeat;
  background-size: cover;
}

.about-company-content {
  padding: 140px 0 145px;
}

.company-official {
  position: relative;
  padding-top: 10px;
}

.company-official > img {
  display: block;
  width: 100%;
}

.watch-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 57%;
  bottom: 27%;
  width: 135px;
}

.watch-video .paragraph {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4em;
  text-align: center;
  color: #FFFFFF;
}

.citation {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  left: 50%;
  bottom: -95px;
  transform: translateX(-50%);
  width: 45%;
  padding: 40px 50px 35px 45px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.citation .head-three {
  font-size: 24px;
  padding-bottom: 5px;
}

.citation .paragraph {
  font-size: 16px;
  line-height: 1.6em;
}

.key-performance-indicators {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 180px;
}

.performance-indicator {
  width: 23%;
}

.paragraph-indicator {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2em;
  color: #CB8734;
  padding-bottom: 30px;
}

.paragraph-indicator::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #CB8734;
  border-radius: 1px;
}

.paragraph-indicator span {
  font-size: 60px;
}

.performance-indicator .paragraph {
  font-size: 16px;
  padding-top: 20px;
}

.company-details {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.company-details .button {
  padding: 20px 30px;
}

.kinds-of-building {
  background: #FFFBF7;
}

.kinds-of-building-content {
  padding: 145px 0;
}

.kinds-of-building-content .head-two {
  padding-bottom: 40px;
}

.building-types-list {
  display: flex;
  justify-content: space-between;
}

.building-type {
  padding: 5px 5px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
}

.building-type img {
  display: block;
}

.building-type div {
  padding: 35px 5px 40px 35px;
}

.building-type .head-three {
  padding-bottom: 15px;
}

.column-list {
  list-style-image: url(../assets/images/list-style-type-icon.svg);
  list-style-position: inside;
}

.column-list__link {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  text-decoration: none;
  color: #2B2A28;
}

.last-articles-content {
  padding: 145px 0 140px;
}

.last-articles-content .head-two {
  padding-bottom: 40px;
}

.last-articles-slider-block {
  position: relative;
}

.article .article-content {
  position: relative;
  width: 370px;
  margin: auto;
}

.head-four {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  color: #2B2A28;
  padding: 25px 0 15px;
}

.topic {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #CB8734;
  border-radius: 4px;
  padding: 10px 20px;
}

.topic span {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.arrows_third .current-article {
  color: #CB8734;
}

.ceo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}

.ceo-content__left-side{
  width: 50%;
}

.ceo-content__left-side .head-two {
  padding-bottom: 10px;
}

.ceo-content__left-side .paragraph {
  padding: 10px 0;
}

.ceo-slider-block {
  position: relative;
  width: 47.5%;
}

.house-screenshot img {
  width: 100%;
}

.footer {
  background: #FFFBF7;
}

.footer-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 40px;
}

.footer-content-bottom-row {
  display: flex;
  justify-content: space-between;
}

.footer-content-bottom-row__left-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.footer-content-bottom-row__left-side .column-list {
  list-style-image: none;
  list-style-type: none;
}

.footer-content-bottom-row__left-side .column-list__link {
  font-size: 14px;
}

.footer-content-bottom-row__right-side {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.footer-content-bottom-row__right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-bottom-row__right-side-content .contact-us {
  font-size: 14px;
  padding-bottom: 10px;
}

.copyright {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7em;
  text-align: center;
  color: #2B2A28;
  opacity: 0.7;
  padding: 30px 0;
}

@media screen and (min-width: 1401px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  .citation {
    width: 50%;
  }

  .building-type {
    width: 31.5%;
  }

  .building-type img {
    width: 100%;
  }

  .last-articles-content .head-two {
    text-align: center;
  }

  .arrows_third {
    right: 10%;
  }
}

@media screen and (max-width: 1400px) {
  .header-content-bottom-row .navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 2;
    transition: transform 0.5s;
  }

  .header-content-bottom-row .navigation.active {
    transform: translateX(0);
  }
  
  .header-content-bottom-row .navigation .list {
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  
  .header-content-bottom-row .navigation .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .header-content-bottom-row .navigation .list__item:last-child {
    border-bottom: none;
  }
  
  .header-content-bottom-row .navigation .list__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .header-content-top-row__right-side {
    width: 55%;
  }

  .reasons-why-list div {
    width: 22.5%;
  }

  .projects-catalog-content__left-side {
    background-size: 90%;
  }

  .projects-group_row-one,
  .projects-group_row-two {
    width: 70%;
  }

  .how-we-build-content {
    padding: 0;
  }

  .construction-stages-list {
    padding-top: 30px;
  }

  .construction-stage {
    margin-bottom: 40px;
  }

  .stage-description .head-three {
    white-space: normal;
  }

  .stage-content img {
    display: none;
  }

  .citation {
    width: 55%;
  }

  .kinds-of-building-content {
    padding: 145px 0 0;
  }

  .footer-content-top-row {
    padding: 0 0 40px;
  }

  .footer-content-bottom-row__left-side {
    width: 55%;
  }
}

@media screen and (max-width: 1250px) {
  .header-content-top-row > a {
    display: none;
  }

  .header-content-top-row__right-side {
    justify-content: flex-end;
    gap: 25px;
    width: 85%;
  }

  .projects-group_row-one,
  .projects-group_row-two {
    width: 80%;
  }
  
  .citation {
    width: 60%;
    padding: 35px 45px 30px 40px;
  }

  .kinds-of-building-content .head-two {
    text-align: center;
  }

  .building-types-list {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .building-type {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 80%;
    padding: 5px 0 5px 5px;
    border-radius: 0px 40px 0px 40px;
  }

  .building-type img {
    width: auto;
  }

  .building-type div {
    padding: 0 10px 0 0;
  }

  .footer-content-bottom-row__left-side {
    width: 60%;
  }
}

@media screen and (max-width: 1150px) {
  .what-we-do-content__left-side .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .projects-group_row-one,
  .projects-group_row-two {
    width: 90%;
  }

  .citation {
    width: 65%;
    padding: 30px 40px 25px 35px;
  }

  .building-type {
    width: 85%;
  }

  .footer-content-top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-content-bottom-row {
    flex-direction: column;
    gap: 40px;
  }

  .footer-content-top-row .navigation {
    width: 80%;
  }

  .footer-content-bottom-row__left-side {
    width: 80%;
  }

  .footer-content-bottom-row__right-side {
    justify-content: flex-start;
  }

  .footer-content-bottom-row__right-side-content {
    gap: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .reasons-why-content {
    padding: 50px 45px 0 60px;
  }

  .reasons-why-list {
    flex-wrap: wrap;
  }

  .reasons-why-list div {
    width: 47.5%;
    padding-bottom: 40px;
  }

  .how-we-build-content .head-two {
    text-align: center;
  }

  .construction-stages-list {
    flex-direction: column;
  }

  .construction-stage {
    width: 100%;
    margin-bottom: 40px;
  }
  
  .citation {
    width: 70%;
    padding: 25px 35px 20px 30px;
  }

  .key-performance-indicators {
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding-top: 140px;
  }

  .performance-indicator {
    width: 30%;
  }

  .building-type {
    width: 95%;
  }
}

@media screen and (max-width: 950px) {
  .projects-group_row-one,
  .projects-group_row-two {
    width: 100%;
  }

  .citation {
    width: 75%;
    padding: 20px 30px 15px 25px;
  }

  .building-type {
    display: block;
    width: auto;
    padding: 5px 5px 0;
    border-radius: 0px 40px 0px 0px;
  }

  .building-type div {
    padding: 35px 5px 40px 35px;
  }

  .arrows_third {
    right: 50%;
    transform: translateX(50%);
    top: -35px;
  }

  .footer-content-top-row .navigation {
    width: 100%;
  }

  .footer-content-bottom-row__left-side {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header-content-top-row__right-side div:nth-child(1) {
    display: none;  
  }

  .what-we-do-content {
    flex-direction: column;
    gap: 30px;
  }

  .what-we-do-content__left-side,
  .what-we-do-slider-block {
    width: 100%;
  }

  .what-we-do-content__left-side .buttons {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .projects-catalog-content .head-two {
    text-align: center;
  }

  .projects-catalog-content__left-side {
    background: none;
  }

  .projects-group_row-one {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .domestic-project,
  .commercial-project,
  .projects-group_row-two {
    width: 75%;
  }

  .projects-group_row-two {
    flex-direction: column;
    padding: 5px 5px 0;
    margin: auto;
  }

  .projects-group_row-two > img {
    display: block;
    width: 100%;
    order: -1;
  }

  .garden-project {
    width: 100%;
    padding: 35px 15px 50px 45px;
  }

  .citation {
    width: 80%;
    padding: 15px 25px 10px 20px;
  }

  .performance-indicator {
    width: 35%;
  }

  .ceo-content {
    flex-direction: column;
    gap: 30px;
  }

  .ceo-content__left-side,
  .ceo-slider-block {
    width: 100%; 
  }
}

@media screen and (max-width: 760px) {
  .domestic-project,
  .commercial-project,
  .projects-group_row-two {
    width: 85%;
  }

  .citation {
    width: 85%;
    padding: 10px 20px 5px 15px;
  }
}

@media screen and (max-width: 700px) {
  .citation {
    width: 90%;
    padding: 5px 15px 5px 10px;
  }

  .performance-indicator {
    width: 40%;
  }

  .footer-content-bottom-row__left-side {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  .arrows_first {
    bottom: 25px;
  }

  .arrows_second {
    bottom: 20px;
  }

  .watch-video {
    left: 100%;
    bottom: 0;
    padding: 0 10px 10px 0;
    transform: translateX(-100%);
  }

  .citation {
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
  }

  .key-performance-indicators {
    padding-top: 180px;
  }
}

@media screen and (max-width: 610px) {
  .header-content-top-row__right-side div:nth-child(2) {
    display: none;  
  }

  .about-company {
    background: none;
  }

  .about-company-content {
    padding: 140px 0 0;
  }
  
  .key-performance-indicators {
    flex-direction: column;
    align-items: center;
  }

  .performance-indicator {
    width: 50%;
  }
  
  .footer-content-top-row .navigation .list {
    flex-direction: column;
  }

  .footer-content-top-row .navigation .list__item {
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed rgba(229, 235, 242, 0.4);
  }

  .footer-content-top-row .navigation .list__item:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 520px) {
  .what-we-do-content__left-side .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .reasons-why-content .head-two,
  .reasons-why-list div {
    text-align: center;
  }

  .reasons-why-list {
    flex-direction: column;
  }

  .reasons-why-list div {
    width: 100%;
  }

  .how-we-build-content-bottom-row .buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .watch-video {
    display: none;
  }

  .key-performance-indicators {
    padding-top: 220px;
  }

  .performance-indicator {
    width: 60%;
  }

  .building-type img {
    width: 100%;
  }

  .article .article-content {
    width: 100%;
  }

  .article .article-content img {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .domestic-project div,
  .commercial-project div,
  .garden-project {
    padding: 35px 15px 50px 15px;
  }

  .performance-indicator {
    width: 70%;
  }
}

@media screen and (max-width: 410px) {
  .domestic-project div,
  .commercial-project div,
  .garden-project {
    padding: 35px 0 50px 0;
  }

  .key-performance-indicators {
    padding-top: 280px;
  }

  .building-type div {
    padding: 35px 5px 40px 15px;
  }
}