@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/Gilroy-Semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(assets/fonts/Gilroy-Extrabold.ttf);
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  background: #FFFBF7;
}

.header-content {
  padding-top: 30px;
}

.header-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-top-row__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.contact-us {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.telephone {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.working-hours {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  text-align: right;
  color: #2B2A28;
}

.button {
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.button.button_acquaint-with-projects {
  padding: 0;
  font-weight: 600;
  font-size: 15px;
}

.button_background {
  background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}

.button_request-a-call {
  font-size: 13px;
  padding: 15px 25px;
}

.for-free {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  text-align: center;
  color: #2B2A28;
  padding-top: 5px;
}









option {
  display: block;
  position: relative;
  background: url('assets/images/ua.png');
}

option:nth-child(1) {
  
  /* content: url(assets/images/ua.png); */
  background: url(assets/images/ua.png);
}

option::after {
  content: url('./assets/images/ua.png');
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  z-index: 10;
}

option:nth-child(2)::after {
  position: absolute;
  content: url(assets/images/ru.png);
}

option:nth-child(3)::after {
  position: absolute;
  content: url(assets/images/us.png);
}







.header-content-bottom-row {
  padding-top: 20px;
}

.list {
  display: flex;
  align-items: center;
  width: 70%;
  background: #3D1E19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}

.list__item {
  list-style-type: none;
  flex-grow: 1;
  padding: 12px 0;
  margin: 8px 0;
  border-right: 1px dashed rgba(229, 235, 242, 0.4);
  text-align: center;
}

.list__item:last-child {
  border-right: none;
}

.list__link {
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.what-we-do {
  background: #FFFBF7;
}

.what-we-do-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 70px;
}

.what-we-do-content__left-side {
  width: 45%;
}

.what-we-do-slider-block {
  position: relative;
  width: 50%;
}

.head-one {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.3em;
  color: #2B2A28;
}

.paragraph {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  color: #2B2A28;
}

.paragraph_what-we-do {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  padding: 15px 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button_houses-catalog {
  padding: 20px 30px;
}

.button_bathhouses-catalog,
.button_acquaint-with-projects {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #CB8734;
}

.bathhouse-screenshot span {
  display: flex;
  justify-content: flex-end;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows_first {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.arrows_second {
  position: absolute;
  right: calc(50% - 40px);
  bottom: 35px;
}

.arrow {
  cursor: pointer;
}

.current-bathhouse-screenshot,
.current-manufacturing-screenshot {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.reasons-why-content {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
  padding: 50px 45px 40px 60px;
}

.head-two {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.reasons-why {
  background: linear-gradient(to top, transparent 50%, #FFFBF7 50%);
}

.reasons-why-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.reasons-why-list div:first-child {
  width: 15%;
}

.reasons-why-list div:nth-child(2) {
  width: 20%;
}

.reasons-why-list div:nth-child(3) {
  width: 21%;
}

.reasons-why-list div:last-child {
  width: 21.5%;
}

.reasons-why-list img {
  margin-bottom: 15px;
}

.paragraph_reason {
  font-weight: 700;
}

.projects-catalog-content {
  padding: 145px 0 115px;
}

.projects-catalog-content__left-side {
  position: relative;
  width: 60%;
}

.projects-group_row-one {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.domestic-project,
.commercial-project {
  width: 48%;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
}

.domestic-project > img,
.commercial-project > img {
  display: block;
  width: 97%;
  margin: auto;
  padding-top: 5px;
}

.domestic-project div,
.commercial-project div {
  padding: 35px 20px 50px 50px;
}

.domestic-project .paragraph,
.commercial-project .paragraph {
  padding: 10px 0 15px;
}

.head-three {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  color: #2B2A28;
}

.projects-group_row-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
  position: relative;
  z-index: 1;
}

.garden-project {
  width: 37.5%;
  padding-left: 50px;
}

.garden-project .paragraph {
  padding: 10px 0 15px;
}

.projects-group_row-two > img {
  width: 52.5%;
  margin: 5px 5px 5px 0;
}

.projects-catalog-background {
  position: absolute;
  top: 20px;
  right: -87.5%;
}

.how-we-build {
  background: #FFFBF7;
}

.how-we-build-content {
  padding: 115px 0 145px;
}

.construction-stages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}

.construction-stage {
  position: relative;
  width: 48.5%;
  margin-bottom: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.stage-description {
  padding: 40px 40px 50px 45px;
}

.stage-description .head-three {
  white-space: pre-line;
}

.stage-description .paragraph {
  padding-top: 15px;
}

.stage-description img {
  position: absolute;
}

.construction-stage:nth-child(1) .stage-description img {
  right: 25px;
  top: -45px;
}

.construction-stage:nth-child(2) .stage-description img {
  right: 15px;
  top: -80px;
}

.construction-stage:nth-child(3) .stage-description img {
  right: 15px;
  top: -25px;
}

.construction-stage:nth-child(4) .stage-description img {
  right: 40px;
  top: -45px;
}

.stage-number {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.stage-number::after {
  position: absolute;
  right: 20px;
  bottom: -30px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 140px;
  line-height: 1em;
  color: #CB8734;
  opacity: 0.1;
}

.construction-stage:nth-child(1) .stage-number::after {
  content: "01";
}

.construction-stage:nth-child(2) .stage-number::after {
  content: "02";
}

.construction-stage:nth-child(3) .stage-number::after {
  content: "03";
}

.construction-stage:nth-child(4) .stage-number::after {
  content: "04";
}

.how-we-build-slider-block {
  position: relative;
}

.how-we-build-content-bottom-row .buttons {
  padding-top: 40px;
}




.company-official {
  position: relative;
  padding-top: 45px;
}

.company-official-background {
  display: block;
  width: 100%;
}

.company-official-photo {
  position: absolute;
  left: calc(50% - 210px);
  bottom: 0;
}

.watch-video {
  position: absolute;
  left: 700px;
  bottom: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
}

.watch-video .paragraph {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4em;
  text-align: center;
  color: #FFFFFF;
}

.citation {
  position: absolute;
  width: 50%;
  left: calc(50% - 317px);
  bottom: -95px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 50px 35px 45px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.citation .head-three {
  font-size: 24px;
  padding-bottom: 5px;
}

.citation .paragraph {
  font-size: 16px;
  line-height: 1.6em;
}

.key-performance-indicators {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 180px;
}

.performance-indicator {
  width: 23%;
}

.paragraph-indicator {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2em;
  color: #CB8734;
  padding-bottom: 30px;
}

.paragraph-indicator::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #CB8734;
  border-radius: 1px;
}

.paragraph-indicator span {
  font-size: 60px;
}

.performance-indicator .paragraph {
  font-size: 16px;
  padding-top: 20px;
}

.company-details {
  display: flex;
  justify-content: center;
  padding: 40px 0 145px;
}

.company-details .button {
  padding: 20px 30px;
}