@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Extrabold.ttf);
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  background: #FFFBF7;
}

.header-content {
  padding: 30px 0 35px;
}

.header-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-top-row__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.contact-us {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.telephone {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.working-hours {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  text-align: right;
  color: #2B2A28;
}

.button {
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.button_background {
  background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}

.button_request-a-call {
  font-size: 13px;
  padding: 15px 25px;
}

.for-free {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  text-align: center;
  color: #2B2A28;
  padding-top: 5px;
}

.language-selection {
  position: relative;
  display: flex;
  cursor: pointer;
}

.language-selection > img:first-child,
.language-list__item img {
  width: 21px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.language-list {
  display: none;
}

.language-list.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-list__item {
  list-style-type: none;
}

.dropdown-list-arrow-one {
  padding: 5px 0 0 5px;
}

.dropdown-list-arrow-one img {
  display: block;
}

.dropdown-list-arrow-one img.active {
  transform: rotate(0.5turn);
}

.header-content-bottom-row {
  padding-top: 20px;
}

.navigation {
  width: 70%;
}

.hamburger-menu {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-menu span {
  position: absolute;
  width: 30px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #CB8734;
  transition: transform 0.5s;
}

.hamburger-menu span:nth-child(1) {
  top: calc(50% - 10px);
}

.hamburger-menu span:nth-child(3) {
  top: calc(50% + 10px);
}

.hamburger-menu.active span:nth-child(2) {
  transform: translate(100%, -50%);
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.active {
  position: fixed;
  left: 10%;
}

.list {
  display: flex;
  align-items: center;
  background: #3D1E19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}

.list__item {
  list-style-type: none;
  flex-grow: 1;
  border-right: 1px dashed rgba(229, 235, 242, 0.4);
  text-align: center;
}

.list__item:last-child {
  border-right: none;
}

.list__link {
  display: flex;
  justify-content: center;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 0;
}

.urls {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 20px;
}

.urls a,
.urls span {
  color: #828282;
}

.url {
  text-decoration: none;
}

.barcelona-variant-content-top-row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px;
}

.head-one,
.head-two {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.button_come-back {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #CB8734;
}

.barcelona-variant-slider-block {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.barcelona-variant-slider-for {
  width: 84.5%;
}

.barcelona-variant-slider-for img {
  width: 100%;
}

.barcelona-variant-slider-nav {
  width: 13.5%;
}

.barcelona-variant-slider-nav img {
  width: 100%;
  border-radius: 0px 40px;
  margin-bottom: 40px;
}

.barcelona-variant-slider-nav .slick-current.slick-active {
  opacity: 1;
}

.barcelona-variant-slider-nav .slick-active {
  opacity: 0.5;
}

.barcelona-variant-slider-nav.slick-vertical .slick-slide {
  border: none;
}

.barcelona-variant-slider-nav .slick-list {
  height: 100% !important;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows_first {
  position: absolute;
  left: 75%;
  top: 91%;
}

.arrow {
  cursor: pointer;
}

.current-barcelona-screenshot {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.barcelona-variant-content-bottom-row {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
}

.accurate-calculation {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 370px;
  padding: 50px 45px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.accurate-calculation p:nth-child(1),
.order-a-consultation-content p:first-child {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  color: #2B2A28;
}

.accurate-calculation p:nth-child(2) {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  color: #2B2A28;
  padding: 10px 0 30px;
}

.button_get-accurate-calculation {
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

.order-a-consultation-content_first-appearence {
  width: calc(100% - 440px);
}

.order-a-consultation-content p:first-child {
  padding-bottom: 25px;
}

.order-a-consultation-content > div {
  display: flex;
  justify-content: space-between;
}

.order-a-consultation-content > div > div {
  position: relative;
  width: 62.5%;
}

.international-telephone-code-select {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.order-a-consultation-content input {
  width: 100%;
  padding: 20px 0 20px 80px;
  background: #FFFFFF;
  border: 1px solid #E7D8C7;
  border-radius: 4px;
}

.button_order-a-consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  cursor: pointer;
}

.building-characteristic-content {
  margin: 195px 0 145px;
  padding: 40px 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.building-characteristic-content-top-row {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px 0 40px;
}

.building-characteristic-content-top-row__right-side > p {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 10px;
}

.building-characteristic-content-top-row__right-side > div {
  display: flex;
  gap: 80px;
}

.technologies,
.building-period {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.technologies div,
.building-period div {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  color: #2B2A28;
}

.technologies p:last-child,
.building-period p:last-child {
  font-weight: 700;
}

.building-characteristic-content-bottom-row {
  display: flex;
}

.feature {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-basis: 30%;
  flex-grow: 1;
  padding: 25px 0 25px 45px;
  border-left: 1px solid #E7D8C7;
}

.feature:last-child {
  border-right: 1px solid #E7D8C7;
}

.feature p {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
  color: #2B2A28;
}

.planning-views {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.planning-views img {
  width: 48.5%;
}

.sending-data-for-consultation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 145px 0;
  padding: 5px 5px 5px 80px;
  background: #FFFBF7;
  border-radius: 0px 40px 0px 0px;
}

.sending-data-for-consultation-content > img {
  border-radius: 0px 36px;
}

.order-a-consultation-content_second-appearence {
  width: calc(100% - 480px);
}

.order-a-consultation-content_second-appearence p:first-child {
  white-space: pre-line;
}

.agreement {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  color: #2B2A28;
  padding: 30px 0 20px;
}

.agreement span {
  font-weight: 600;
  color: #CB8734;
}

.processes {
  display: flex;
  flex-direction: column;
  padding: 40px 0 145px;
}

.process {
  display: flex;
  justify-content: space-between;
  min-height: 252px;
  margin-bottom: 60px;
}

.process:last-child {
  margin-bottom: 0;
}

.stage {
  width: 23%;
  padding-top: 30px;
}

.stage__arrow {
  position: relative;
  background: #CB8734;
  padding: 15px 0 15px 15px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 2em;
  color: #FFFFFF;
}

.stage__arrow::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 25px solid #FFFFFF;
  border-top: 0;
  border-bottom: 31px solid transparent;
}

.stage__arrow::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 25px solid #FFFFFF;
  border-top: 31px solid transparent;
  border-bottom: 0;
}

.stage__description {
  padding: 20px 0 0 15px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  color: #2B2A28;
}

.step {
  width: 23%;
  padding: 30px 30px 35px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
}

.step p {
  padding-top: 25px;
  font-family: Gilroy;
  font-weight: 300;
  font-size: 16px;
  line-height: 2em;
  color: #2B2A28;
}

.footer {
  background: #FFFBF7;
}

.footer-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 40px;
}

.footer-content-bottom-row {
  display: flex;
  justify-content: space-between;
}

.footer-content-bottom-row__left-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.column-list {
  list-style-image: url(../assets/images/list-style-type-icon.svg);
  list-style-position: inside;
}

.column-list__link {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  text-decoration: none;
  color: #2B2A28;
}

.footer-content-bottom-row__left-side .column-list {
  list-style-image: none;
  list-style-type: none;
}

.footer-content-bottom-row__left-side .column-list__item {
  font-size: 14px;
}

.footer-content-bottom-row__right-side {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.footer-content-bottom-row__right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-bottom-row__right-side-content .contact-us {
  font-size: 14px;
  padding-bottom: 10px;
}

.copyright {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7em;
  text-align: center;
  color: #2B2A28;
  opacity: 0.7;
  padding: 30px 0;
}

.modal-window-one {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 564px;
  background: #FFFFFF;
  border-radius: 0px 40px 0px 0px;
  display: none;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
  transform: translate(100%, -100%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.close-icon span {
  position: absolute;
  top: 50%;
  width: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 1px;
}

.close-icon span:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.close-icon span:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.modal-window-one-top-row {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0px 40px 0px 0px;
  background: url(../assets/images/modal-window-one-image.png) no-repeat bottom right;
  background-size: contain;
}

.modal-window-one-top-row .head-three {
  width: 60%;
  padding: 65px 0;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5em;
  color: #2B2A28;
}

.modal-window-one-top-row::after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  position: absolute;
  left: 2.5%;
  bottom: -1px;
  background: #E7D8C7;
}

.order-a-consultation-content_third-appearence p:first-child,
.order-a-consultation-content_third-appearence .agreement {
  white-space: pre-line;
  text-align: left;
}

.order-a-consultation-content_third-appearence p:first-child {
  padding: 35px 0 25px;
}

.order-a-consultation-content_third-appearence > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-a-consultation-content_third-appearence > div > div {
  width: 100%;
}

.order-a-consultation-content_third-appearence .button_order-a-consultation {
  width: 100%;
  padding: 20px 0;
}

.modal-window-two {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 564px;
  background: #FFFFFF;
  border-radius: 0px 40px 0px 0px;
  display: none;
}

.modal-window-two img {
  display: block;
  width: 100%;
}

.order-a-consultation-content_fourth-appearence p:first-child,
.order-a-consultation-content_fourth-appearence .agreement {
  white-space: pre-line;
  text-align: left;
}

.order-a-consultation-content_fourth-appearence p:first-child {
  padding: 35px 0 25px;
}

.order-a-consultation-content_fourth-appearence > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-a-consultation-content_fourth-appearence > div > div {
  width: 100%;
}

.order-a-consultation-content_fourth-appearence .button_order-a-consultation {
  width: 100%;
  padding: 20px 0;
}

.modal-window-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: #2B2A28;
  opacity: 0.6;
  display: none;
}

@media screen and (min-width: 1401px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .header-content-bottom-row .navigation {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }

  .header-content-bottom-row .navigation.active {
    transform: translateX(0);
  }
  
  .header-content-bottom-row .navigation .list {
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  
  .header-content-bottom-row .navigation .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .header-content-bottom-row .navigation .list__item:last-child {
    border-bottom: none;
  }
  
  .header-content-bottom-row .navigation .list__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .header-content-top-row__right-side {
    width: 55%;
  }

  .process {
    min-height: 284px;
  }

  .footer-content-top-row {
    padding: 0 0 40px;
  }

  .footer-content-bottom-row__left-side {
    width: 55%;
  }
}

@media screen and (max-width: 1250px) {
  .header-content-top-row > a {
    display: none;
  }

  .header-content-top-row__right-side {
    justify-content: flex-end;
    gap: 25px;
    width: 85%;
  }

  .arrows_first {
    left: 72%;
  }

  .barcelona-variant-slider-nav img {
    border-radius: 0px 30px;
  }

  .footer-content-bottom-row__left-side {
    width: 60%;
  }
}

@media screen and (max-width: 1150px) {
  .barcelona-variant-content-bottom-row {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  .accurate-calculation {
    position: static;
    width: 290px;
    padding: 30px 25px;
  }
  
  .building-characteristic-content-top-row__right-side > div {
    gap: 40px;
  }

  .feature {
    padding: 25px 0 25px 25px;
  }

  .order-a-consultation-content_first-appearence {
    width: calc(100% - 360px);
  }

  .sending-data-for-consultation-content {
    padding: 5px;
  }

  .step {
    padding: 30px 20px 35px;
  }

  .footer-content-top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-content-bottom-row {
    flex-direction: column;
    gap: 40px;
  }

  .footer-content-top-row .navigation {
    width: 80%;
  }

  .footer-content-bottom-row__left-side {
    width: 80%;
  }

  .footer-content-bottom-row__right-side {
    justify-content: flex-start;
  }

  .footer-content-bottom-row__right-side-content {
    gap: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .barcelona-variant-slider-nav img {
    border-radius: 0px 20px;
  }

  .sending-data-for-consultation-content {
    border-radius: 0;
  }

  .sending-data-for-consultation-content {
    flex-direction: column;
  }

  .sending-data-for-consultation-content img {
    order: 1;
  }

  .order-a-consultation-content_second-appearence {
    order: 2;
    width: 100%;
  }

  .order-a-consultation-content_second-appearence p:first-child {
    white-space: normal;
    text-align: center;
    padding: 25px 0;
  }

  .agreement {
    text-align: center;
  }

  .step {
    padding: 30px 10px 35px;
  }
}

@media screen and (max-width: 950px) {
  .arrows_first {
    left: 70%;
    top: 88%;
  }

  .order-a-consultation-content_first-appearence {
    width: calc(100% - 320px);
  }

  .building-characteristic-content-top-row__right-side > div {
    flex-direction: column;
    gap: 20px;
  }

  .feature {
    gap: 20px;
  }

  .feature p {
    font-size: 20px;
  }

  .footer-content-top-row .navigation {
    width: 100%;
  }

  .footer-content-bottom-row__left-side {
    width: 100%;
  }
}

@media screen and (max-width: 875px) {
  .process {
    min-height: 316px;
  }
}

@media screen and (max-width: 850px) {
  .header-content-top-row__right-side div:nth-child(1) {
    display: none;  
  }

  .barcelona-variant-content-top-row {
    flex-direction: column;
    gap: 10px;
  }

  .arrows_first {
    left: 68%;
    top: 86%;
  }

  .barcelona-variant-slider-nav img {
    border-radius: 0px 10px;
  }

  .barcelona-variant-content-bottom-row {
    flex-direction: column;
  }

  .accurate-calculation {
    width: 57.5%;
  }

  .accurate-calculation {
    text-align: center;
  }

  .order-a-consultation-content_first-appearence {
    width: 100%;
  }

  .order-a-consultation-content_first-appearence p:first-child {
    text-align: center;
    padding: 25px 0;
  }
  
  .building-characteristic-content {
    padding: 40px;
  }

  .building-characteristic-content-top-row {
    gap: 25px;
  }

  .feature {
    padding: 25px 0 25px 20px;
    gap: 15px;
  }

  .feature p {
    font-size: 18px;
  }

  .processes {
    flex-direction: row;
    justify-content: space-between;
  }

  .process {
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 30%;
    margin-bottom: 0;
  }

  .stage,
  .step {
    width: 100%;
  }

  .stage {
    padding-top: 0;
  }

  .stage__description {
    min-height: 68px;
  }
  
  .step {
    min-height: 284px;
  }
}

@media screen and (max-width: 730px) {
  .urls {
    text-align: center;
  }

  .arrows_first {
    left: 65%;
    top: 85%;
  }
  
  .accurate-calculation {
    padding: 30px 20px;
  }

  .building-characteristic-content .head-two {
    text-align: center;
  }

  .building-characteristic-content-top-row {
    flex-direction: column;    
  }

  .feature {
    padding: 25px 0 25px 10px;
    gap: 10px;
  }

  .feature p {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .modal-window-one,
  .modal-window-two {
    width: 80%;
  }

  .close-icon {
    transform: translate(-50%, 50%);
  }

  .close-icon span {
    border: 1px solid #2B2A28;
  }

  .feature {
    gap: 5px;
  }
  
  .process {
    width: 31.5%;
  }

  .footer-content-bottom-row__left-side {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 640px) {
  .work-process-content .head-two {
    text-align: center;
  }

  .processes {
    flex-direction: column;
    align-items: center;
  }

  .process {
    width: 60%;
  }

  .stage {
    padding-top: 30px;
  }

  .process:first-child .stage {
    padding-top: 0;
  }
  
  .stage__description {
    min-height: auto;
  }

  .step {
    min-height: 252px;
    padding: 30px 30px 35px;
  }
}

@media screen and (max-width: 610px) {
  .header-content-top-row__right-side div:nth-child(2) {
    display: none;  
  }

  .barcelona-variant-slider-for {
    width: 100%;
  }

  .arrows_first {
    left: 75%;
  }

  .barcelona-variant-slider-nav {
    display: none;
  }

  .accurate-calculation {
    width: 75%;
  }

  .modal-window-one,
  .modal-window-two {
    width: 60%;
  }

  .modal-window-one-top-row .head-three {
    padding: 45px 0;
    font-size: 20px;
  }

  .order-a-consultation-content_third-appearence p:first-child,
  .order-a-consultation-content_fourth-appearence p:first-child {
    font-size: 20px;
    padding: 25px 0 15px;
  }

  .order-a-consultation-content_third-appearence .agreement,
  .order-a-consultation-content_fourth-appearence .agreement {
    font-size: 12px;
    padding: 20px 0 10px;
  }

  .building-characteristic-content-bottom-row {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    gap: 35px;
    min-width: 227px;
    padding: 25px;
    border-left: none;
    border-top: 1px solid #E7D8C7;
  }

  .feature:last-child {
    border-right: none;
    border-bottom: 1px solid #E7D8C7;
  }

  .feature p {
    font-size: 24px;
  }

  .plannings-content .head-two {
    text-align: center;
  }

  .planning-views {
    flex-direction: column;
    gap: 20px;
  }

  .planning-views img {
    width: 75%;
    margin: auto;
  }

  .sending-data-for-consultation-content {
    border-radius: 0px 40px 0px 0px;
  }

  .sending-data-for-consultation-content img {
    width: 100%;
  }

  .footer-content-top-row .navigation .list {
    flex-direction: column;
  }

  .footer-content-top-row .navigation .list__item {
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed rgba(229, 235, 242, 0.4);
  }

  .footer-content-top-row .navigation .list__item:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 540px) {
  .modal-window-one,
  .modal-window-two {
    width: 70%;
  }

  .process {
    width: 70%;
  }
}

@media screen and (max-width: 460px) {
  .urls {
    font-size: 10px;
  }

  .arrows_first {
    left: 70%;
    top: 83%;
  }

  .accurate-calculation {
    width: 100%;
  }

  .order-a-consultation-content > div {
    flex-direction: column;
    gap: 20px;
  }

  .order-a-consultation-content > div > div {
    width: 100%;
  }

  .button_order-a-consultation {
    width: 100%;
    padding: 20px 30px;
  }

  .modal-window-one,
  .modal-window-two {
    width: 80%;
  }

  .modal-window-one-top-row .head-three {
    font-size: 18px;
  }

  .building-characteristic-content .head-two {
    font-size: 26px;
  }

  .building-characteristic-content-top-row img {
    max-width: 100%;
  }

  .planning-views img {
    width: 100%;
  }

  .process {
    width: 80%;
  }
}

@media screen and (max-width: 410px) {
  .process {
    width: 90%;
  }
}