@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Semibold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy-Extrabold.ttf);
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  background: #FFFBF7;
}

.header-content {
  padding: 30px 0 35px;
}

.header-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-top-row__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.contact-us {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.telephone {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 5px;
}

.working-hours {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  text-align: right;
  color: #2B2A28;
}

.button {
  display: block;
  text-decoration: none;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  color: #FFFFFF;
}

.button_background {
  background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;
}

.button_request-a-call {
  font-size: 13px;
  padding: 15px 25px;
}

.for-free {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  text-align: center;
  color: #2B2A28;
  padding-top: 5px;
}

.language-selection {
  position: relative;
  display: flex;
  cursor: pointer;
}

.language-selection > img:first-child,
.language-list__item img {
  display: block;
  width: 21px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-bottom: 4px;
}

.language-list {
  display: none;
}

.language-list.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-list__item {
  list-style-type: none;
}

.dropdown-list-arrow-one {
  padding: 5px 0 0 5px;
}

.dropdown-list-arrow-one img {
  display: block;
}

.dropdown-list-arrow-one img.active {
  transform: rotate(0.5turn);
}

.header-content-bottom-row {
  padding-top: 20px;
}

.navigation {
  width: 70%;
}

.hamburger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
}

.hamburger-menu span {
  position: absolute;
  width: 30px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #CB8734;
  transition: transform 0.5s;
}

.hamburger-menu span:nth-child(1) {
  top: calc(50% - 10px);
}

.hamburger-menu span:nth-child(3) {
  top: calc(50% + 10px);
}

.hamburger-menu.active span:nth-child(2) {
  transform: translate(100%, -50%);
}

.hamburger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.active {
  position: fixed;
  left: 10%;
}

.list {
  display: flex;
  align-items: center;
  background: #3D1E19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}

.list__item {
  list-style-type: none;
  flex-grow: 1;
  border-right: 1px dashed rgba(229, 235, 242, 0.4);
  text-align: center;
}

.list__item:last-child {
  border-right: none;
}

.list__link {
  display: flex;
  justify-content: center;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px 0;
}

.urls {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 20px;
}

.urls a,
.urls span {
  color: #828282;
}

.url {
  text-decoration: none;
}

.contacts-content {
  padding: 30px 0 145px;
}

.contacts-content-top-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.head-one {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.button_come-back {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #CB8734;
}

.contacts-content-bottom-row {
  display: flex;
  justify-content: space-between;
}

.contacts-content-bottom-row__left-side {
  width: 45%;
}

.contacts-content-bottom-row__right-side {
  width: 52%;
}

.contacts-content-bottom-row__left-side > p:first-child {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5em;
  color: #2B2A28;
  padding-bottom: 45px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-details > div {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
  padding: 30px 45px 40px 40px;
}

.caption {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
  color: #2B2A28;
}

.contact-details > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.data p {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  color: #2B2A28;
}

.data p span {
  font-weight: 700;
}

.action {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
  color: #CB8734;
  text-decoration: none;
  border-bottom: 1px dashed #CB8734;
}

.address {
  padding: 75px 0 0 40px;
}

.address p:nth-child(1) {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
  color: #2B2A28;
  padding-bottom: 15px;
}

.address p:nth-child(2) {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  color: #2B2A28;
  padding-bottom: 25px;
}

.order-a-consultation-content {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 0px 40px 0px 0px;
  padding: 60px 70px 50px;
  margin-bottom: 30px;
}

.order-a-consultation-content p:first-child {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  color: #2B2A28;
  white-space: pre-line;
  padding-bottom: 25px;
}

.order-a-consultation-content form > div {
  position: relative;
}

.user {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.order-a-consultation-content input[type="text"],
.order-a-consultation-content input[type="tel"] {
  width: 100%;
  padding: 20px 0 20px 80px;
  background: #FFFFFF;
  border: 1px solid #E7D8C7;
  border-radius: 4px;
}

.international-telephone-code-select {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.order-a-consultation-content input[type="tel"] {
  margin: 10px 0 20px;
}

.button_order-a-consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  cursor: pointer;
}

.agreement {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  color: #2B2A28;
  white-space: pre-line;
  padding-top: 30px;
}

.agreement span {
  font-weight: 600;
  color: #CB8734;
}

.company-details {
  background: #FFFBF7;
}

.company-details-content {
  padding: 145px 0;
}

.head-two {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6em;
  color: #2B2A28;
}

.company-details-content .head-two {
  padding-bottom: 25px;
}

.requisites {
  display: flex;
  justify-content: space-between;
}

.requisites-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 31.5%;
}

.requisite {
  display: flex;
  align-items: center;
  gap: 40px;
  min-height: 152px;
  padding: 40px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  border-radius: 8px;
}

.requisite p:first-child {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
  color: #2B2A28;
}

.requisite p:last-child {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  color: #2B2A28;
}

.last-articles-content {
  padding: 145px 0;
}

.last-articles-content .head-two {
  padding-bottom: 40px;
}

.last-articles-slider-block {
  position: relative;
}

.article .article-content {
  position: relative;
  width: 370px;
  margin: auto;
}

.head-three {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  color: #2B2A28;
  padding: 25px 0 15px;
}

.paragraph {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  color: #2B2A28;
}

.topic {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #CB8734;
  border-radius: 4px;
  padding: 10px 20px;
}

.topic span {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #CB8734;
}

.arrows_first {
  position: absolute;
  right: 0;
  top: -65px;
}

.arrow {
  cursor: pointer;
}

.current-article {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2em;
  color: #CB8734;
}

.footer {
  background: #FFFBF7;
}

.footer-content-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 40px;
}

.footer-content-bottom-row {
  display: flex;
  justify-content: space-between;
}

.footer-content-bottom-row__left-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.footer-content-bottom-row__left-side .column-list {
  list-style-type: none;
}

.footer-content-bottom-row__left-side .column-list__link {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 2em;
  text-decoration: none;
  color: #2B2A28;
}

.footer-content-bottom-row__right-side {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.footer-content-bottom-row__right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-bottom-row__right-side-content .contact-us {
  font-size: 14px;
  padding-bottom: 10px;
}

.copyright {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7em;
  text-align: center;
  color: #2B2A28;
  opacity: 0.7;
  padding: 30px 0;
}

@media screen and (min-width: 1401px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1480px) {
  



  .last-articles-content .head-two {
    text-align: center;
  }

  .arrows_first {
    right: 10%;
  }
}

@media screen and (max-width: 1400px) {
  .header-content-bottom-row .navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 2;
    transition: transform 0.5s;
  }

  .header-content-bottom-row .navigation.active {
    transform: translateX(0);
  }
  
  .header-content-bottom-row .navigation .list {
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  
  .header-content-bottom-row .navigation .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .header-content-bottom-row .navigation .list__item:last-child {
    border-bottom: none;
  }
  
  .header-content-bottom-row .navigation .list__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .header-content-top-row__right-side {
    width: 55%;
  }

  

  

  

  .footer-content-top-row {
    padding: 0 0 40px;
  }

  .footer-content-bottom-row__left-side {
    width: 55%;
  }
}

@media screen and (max-width: 1250px) {
  .header-content-top-row > a {
    display: none;
  }

  .header-content-top-row__right-side {
    justify-content: flex-end;
    gap: 25px;
    width: 85%;
  }

  
  

  .footer-content-bottom-row__left-side {
    width: 60%;
  }
}

@media screen and (max-width: 1150px) {
  

  

  

  .footer-content-top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-content-bottom-row {
    flex-direction: column;
    gap: 40px;
  }

  .footer-content-top-row .navigation {
    width: 80%;
  }

  .footer-content-bottom-row__left-side {
    width: 80%;
  }

  .footer-content-bottom-row__right-side {
    justify-content: flex-start;
  }

  .footer-content-bottom-row__right-side-content {
    gap: 25px;
  }
}

@media screen and (max-width: 950px) {
  



  .arrows_first {
    right: 50%;
    transform: translateX(50%);
    top: -35px;
  }

  .footer-content-top-row .navigation {
    width: 100%;
  }

  .footer-content-bottom-row__left-side {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header-content-top-row__right-side div:nth-child(1) {
    display: none;  
  }

  


}

@media screen and (max-width: 700px) {
  



  .footer-content-bottom-row__left-side {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 610px) {
  .header-content-top-row__right-side div:nth-child(2) {
    display: none;  
  }

  



  

  .footer-content-top-row .navigation .list {
    flex-direction: column;
  }

  .footer-content-top-row .navigation .list__item {
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed rgba(229, 235, 242, 0.4);
  }

  .footer-content-top-row .navigation .list__item:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 520px) {
  

  



  .article .article-content {
    width: 100%;
  }

  .article .article-content img {
    width: 100%;
  }
}